## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,2022-09-21 20:53:48,-21.3585,55.7679,67.59,79,40,11.30,scattered clouds
1,1,Kyzyl-Suu,KG,2022-09-21 20:54:43,42.3414,78.0056,58.23,57,100,2.91,overcast clouds
2,2,Khatanga,RU,2022-09-21 20:54:43,71.9667,102.5000,22.28,78,68,17.07,broken clouds
3,3,Vao,NC,2022-09-21 20:54:44,-22.6667,167.4833,71.85,75,100,12.57,overcast clouds
4,4,Carnarvon,AU,2022-09-21 20:54:44,-24.8667,113.6333,62.98,77,0,19.86,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you prefer? "))
max_temp = float(input("What is the maximum temperature you prefer? "))

What is the minimum temperature you prefer? 75
What is the maximum temperature you prefer? 86

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Coahuayana,MX,2022-09-21 20:54:45,18.7333,-103.6833,79.47,88,100,2.53,overcast clouds
9,9,San Quintin,MX,2022-09-21 20:54:46,30.4833,-115.9500,75.16,66,11,16.75,few clouds
10,10,Durango,MX,2022-09-21 20:51:01,24.8333,-104.8333,75.38,46,21,10.58,few clouds
13,13,Manta,EC,2022-09-21 20:50:19,-0.9500,-80.7333,78.58,73,40,10.36,scattered clouds
15,15,Samarai,PG,2022-09-21 20:54:47,-10.6167,150.6667,78.73,85,100,10.42,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
677,677,San Pedro,PH,2022-09-21 20:59:54,14.3500,121.0167,79.83,88,75,4.61,broken clouds
683,683,University Place,US,2022-09-21 20:59:57,47.2356,-122.5504,81.45,34,1,3.27,clear sky
689,689,Spokane,US,2022-09-21 21:00:00,47.6166,-117.3677,76.24,31,97,5.99,overcast clouds
693,693,Dwarka,IN,2022-09-21 21:00:03,22.2394,68.9678,79.77,74,14,10.78,few clouds
700,700,Labuan,MY,2022-09-21 20:56:16,5.2767,115.2417,79.16,94,20,0.00,few clouds

In [5]:
# 4a. Determine if there are any empty rows.

print(len(preferred_cities_df))
preferred_cities_df.count()

186

City_ID                186
City                   186
Country                186
Date                   186
Lat                    186
Lng                    186
Max Temp               186
Humidity               186
Cloudiness             186
Wind Speed             186
Current Description    186
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna (axis = "index")
print(len(clean_df))
clean_df.head()

186

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Coahuayana,MX,2022-09-21 20:54:45,18.7333,-103.6833,79.47,88,100,2.53,overcast clouds
9,9,San Quintin,MX,2022-09-21 20:54:46,30.4833,-115.9500,75.16,66,11,16.75,few clouds
10,10,Durango,MX,2022-09-21 20:51:01,24.8333,-104.8333,75.38,46,21,10.58,few clouds
13,13,Manta,EC,2022-09-21 20:50:19,-0.9500,-80.7333,78.58,73,40,10.36,scattered clouds
15,15,Samarai,PG,2022-09-21 20:54:47,-10.6167,150.6667,78.73,85,100,10.42,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Coahuayana,MX,79.47,overcast clouds,18.7333,-103.6833,
9,San Quintin,MX,75.16,few clouds,30.4833,-115.9500,
10,Durango,MX,75.38,few clouds,24.8333,-104.8333,
13,Manta,EC,78.58,scattered clouds,-0.9500,-80.7333,
15,Samarai,PG,78.73,overcast clouds,-10.6167,150.6667,
16,Kulhudhuffushi,MV,81.45,clear sky,6.6221,73.0700,
19,Palmer,US,76.24,scattered clouds,42.1584,-72.3287,
22,Najran,SA,83.05,overcast clouds,17.4924,44.1277,
24,Isla Vista,US,81.79,clear sky,34.4133,-119.8610,
31,Isangel,VU,77.05,clear sky,-19.5500,169.2667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Coahuayana,MX,79.47,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
9,San Quintin,MX,75.16,few clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
13,Manta,EC,78.58,scattered clouds,-0.9500,-80.7333,Balandra Hotel
15,Samarai,PG,78.73,overcast clouds,-10.6167,150.6667,Nuli Sapi
16,Kulhudhuffushi,MV,81.45,clear sky,6.6221,73.0700,Haajy Guest House 1
...,...,...,...,...,...,...,...
677,San Pedro,PH,79.83,broken clouds,14.3500,121.0167,Palines Apartment and Guesthouse
683,University Place,US,81.45,clear sky,47.2356,-122.5504,Titlow Lodge
689,Spokane,US,76.24,overcast clouds,47.6166,-117.3677,Madison Inn by Riversage
693,Dwarka,IN,79.77,few clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
700,Labuan,MY,79.16,few clouds,5.2767,115.2417,Tiara Labuan Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))